html, body {
    height:100%;
}

.content{
    padding: 80px 0px;
    text-align:center;
    margin: 0 auto;
}

.btnAddBook{
    right:200px;
    position:relative;
    float:right;
}

.textField{
    width: 200px;
    margin: 0 auto;
}

.error{
    color: red;
}