html, body {
    height:100%;
}

.content{
    padding: 80px 0px;
    text-align:center;
    margin: 0 auto;
}

.btnAddBook{
    right:200px;
    position:relative;
    float:right;
}

.textField{
    width: 300px;
    margin: 0 auto;
}

.error{
    color: red;
}



.btnSaveBook, .btnSaveAuthor{
    margin-top: 40px !important;
}

.select{
    width: 300px;
    margin-top: 15px;
}

.table{
    margin-top: 80px !important;
    width: 900px;
}

td, th{
    padding: 0px 40px !important;
    text-align: left;
}

th{
    padding: 20px 39px!important;
}

.formAuthors{
    width: 300px;
    margin: 0 auto;
}