html, body{
    height:100%;
    list-style-type: none;
}

.content{
    padding: 80px 0px;
    text-align:center;
    margin: 0 auto;
    background-color: #fff;
}

.pagination{
    padding-top: 50px;
    margin: 0 auto;
    width: 900px;
}

.btnAddBook{
    right:200px;
    position:relative;
    float:right;
    margin-top:35px !important;
}

.textField{
    width: 300px;
    margin: 0 auto;
}

.error{
    color: red;
}

.btnSaveBook, .btnSaveAuthor, .btnSaveFriend{
    margin-top: 40px !important;
}

.select{
    width: 300px;
    margin-top: 15px;
}

.centerForm{
    width: 300px;
    margin: 0 auto;
}

#delete, #edit{
    cursor: pointer;
}

.icon--flat.icon--blue, .fa-tags {
    color: #828a92 !important;
}

#searchForm{
    width: 900px;
    margin: 0 auto;
    margin-top: 58px;
}

.navbar-default {
    background-color: #005e71;
    border-color: #188dce;
}

.navbar-default .navbar-nav > li > a {
    color: rgb(188, 210, 214);
    text-transform: uppercase;
}

.navbar-default .navbar-brand{
    color: #fff;
}

.navbar{
    margin-bottom: 0px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}





/************ table ***************/
.table{
    margin-top: 40px !important;
    width: 900px;
   
    border-bottom:0px !important;
}

tbody{
    background-color: #ebedef;
}

.table th {
    border: 1px !important;
    padding-bottom: 16px !important;
    background-color: #048590;
    color: white;
     padding: 20px 39px!important;
     height: 20px;
}

.fixed-table-container {
    border:0px !important;
}



