<div class="content">

    <form name="editFriendForm" ng-submit="editFriend()" novalidate>
       <div class="textField">
            <lx-text-field lx-label="Nom" lx-focus="true" lx-error="editFriendForm.$submitted && editFriendForm.nom.$error.required">
                <input type="text" ng-model="friendSaved.nom" name="nom" id="nom" required />
            </lx-text-field>
            <span ng-if="editFriendForm.$submitted" ng-show="editFriendForm.nom.$error.required" class="error">Le nom est requis</span><br>

            <lx-text-field lx-label="Prenom" lx-allow-clear="true" lx-error="editFriendForm.$submitted && editFriendForm.prenom.$error.required">
                <input type="text" ng-model="friendSaved.prenom" name="prenom" id="prenom" required />
            </lx-text-field>
            <span ng-if="editFriendForm.$submitted" ng-show="editFriendForm.prenom.$error.required" class="error">Le prenom est requis</span><br>

            <lx-button lx-type="raised" type="submit" class="btnSaveFriend">Editer</lx-button>
            <a href="#/friends">
                <lx-button lx-type="flat8" class="btnSaveBook" lx-color="orange">Cancel</lx-button>
            </a>
       </div>
    </form>

</div>