 <a href="#/addBook">
    <lx-button lx-type="fab" lx-size="xl" class="btnAddBook" lx-ripple lx-tooltip="Ajouter un Livre" lx-tooltip-position="bottom" lx-color="green">
        <i class="mdi mdi-plus"></i>
    </lx-button>
 </a>


<div class="content">
    <h1>Mes Livres</h1>

    <form name="searchForm" ng-submit="searchContact()" novalidate id="searchForm">
            <lx-search-filter lx-label="Search" >
                <input id="searchBar" type="text" name="searchValue" ng-model="searchValue" placeholder="search livre..." >
            </lx-search-filter>
    </form>

    <table class="content table">
        <tr>
            <th hidden>id</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Isbn</th>
            <th></th>
            <th></th>
            <th></th>
     
        </tr>
        <tr ng-repeat="booksList in booksLists  | filter:q | startFrom  :currentPage * pageSize | limitTo:pageSize">
            <td hidden>{{booksList.id}}</td>
            <td>{{booksList.title}}</td>
            <td>{{booksList.author}}</td>
            <td>{{booksList.isbn}}</td>
            <td ng-click="lendBook()">
                <a href="#/lendBook" lx-ripple lx-tooltip="Preté?" lx-tooltip-position="right">
                   <i class="fa fa-tags" aria-hidden="true"></i>
                </a>
            </td>
           
            <td ng-click="editBook()">
                <a href="#/editBook" lx-ripple lx-tooltip="Editer" lx-tooltip-position="right">
                    <lx-icon lx-id="pencil" lx-size="xs" lx-color="blue" lx-type="flat"></lx-icon>
                </a>
            </td>
            <td ng-click="deleteBook()">
                <div lx-ripple lx-tooltip="Supprimer" lx-tooltip-position="right">
                    <lx-icon lx-id="delete" lx-size="xs" lx-color="blue" lx-type="flat" id="delete"></lx-icon>
                </div>
            </td>
    </table>


    <div class="pagination">
       <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
            {{currentPage + 1}} / {{numberOfPages()}}
    <button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
    </button>
    </div>

  
</div>
